@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "MuseoSansRounded-700";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/MuseoSansRounded-700") format("opentype");
}
@font-face {
  font-family: "MuseoSansRounded-300";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/MuseoSansRounded-300") format("opentype");
}
@font-face {
  font-family: "MuseoSansRounded-900";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/MuseoSansRounded-900") format("opentype");
}
@font-face {
  font-family: "MuseoSansRounded-500";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/MuseoSansRounded-500") format("opentype");
}


@font-face {
  font-family: "MyriadPro-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/MyriadPro-Regular") format("truetype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  margin: 0 auto;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  margin: 0 auto;
}

.arrow-closed, .arrow-open {
  border: solid #999;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 15px;
}

.arrow-closed {
  top: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-open {
  top: 24px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #077997 transparent transparent;
  border-style: solid;
  border-width: 10px 10px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 15px;
  top: 24px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #077997;
  border-width: 0 10px 10px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #b2bac8;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
  padding-left:30px
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.my-custom-class {
  border: 2px solid red;
  font-weight: bold;
  color: purple;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 20px;
  transition: all 200ms ease;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.arrow-start-box {
  position: relative;
  border-radius: 32px 0px 0px 32px;
}

.arrow-start-box::before {
  /* content: '';
  position: absolute;
  right: -16px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 16px solid #464846;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent; */
}

.arrow-start-content {
  background: #FFFFFF;
  position: relative;
  border-radius: 32px 0px 0px 32px;
}

.arrow-start-content::before {
  /* content: '';
  position: absolute;
  right: -16px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 16px solid #FFFFFF;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent; */
}

.arrow-start-content::after {
  /* content: '';
  position: absolute;
  right: -33px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 32px solid #ae1818;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent; */
}

.arrow-start-box-complete {
  position: relative;
  border-radius: 32px 0px 0px 32px;
}

.arrow-start-box-complete::before {
  /* content: '';
  position: absolute;
  right: -16px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 16px solid #464846;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent; */
}

.arrow-start-content-complete {
  background: #EBFDFF;
  position: relative;
  border-radius: 32px 0px 0px 32px;
}

.arrow-start-content-complete::before {
  /* content: '';
  position: absolute;
  right: -33px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 32px solid #063d62;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent; */
}

.arrow-box {
  background: #FFFFFF;
  position: relative;
}

.arrow-box::after {
  content: '';
  position: absolute;
  left: -1px; 
  bottom: 0; 
  width: 0; 
  height: 0;
  border-left: 32px solid #FFFFFF;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
}

.arrow-box::before {
  content: '';
  position: absolute;
  right: -33px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 32px solid #b2bac8;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
}

.arrow-content {
  background: #FFFFFF;
  position: relative;
  padding-right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-content::after {
  content: '';
  position: absolute;
  left: 0; 
  bottom: 0; 
  width: 0; 
  height: 0;
  border-left: 32px solid #b2bac8;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
}

.complete-before::after {
  border-left: 32px solid #EBFDFF !important;
}

.arrow-box-complete {
  background: #FFFFFF;
  position: relative;
}

.arrow-box-complete::after {
  content: '';
  position: absolute;
  left: -1px; 
  bottom: 0; 
  width: 0; 
  height: 0;
  border-left: 32px solid #EBFDFF;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
}

.arrow-box-complete::before {
  content: '';
  position: absolute;
  right: -33px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 32px solid #b2bac8;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
}

.arrow-content-complete {
  background: #EBFDFF;
  position: relative;
  padding-right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-content-complete::after {
  content: '';
  position: absolute;
  left: 0; 
  bottom: 0; 
  width: 0; 
  height: 0;
  border-left: 32px solid #b2bac8;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
}

.arrow-end-box {
  position: relative;
  border-radius: 0px 32px 32px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-end-box::after {
  content: '';
  position: absolute;
  left: 0; 
  bottom: 0; 
  width: 0; 
  height: 0;
  border-left: 32px solid #FFFFFF;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
}

.arrow-end-box-complete {
  background: #EBFDFF;
  position: relative;
  border-radius: 0px 32px 32px 0px;
}

.arrow-end-box-complete::after {
  content: '';
  position: absolute;
  left: -1px; 
  bottom: 0; 
  width: 0; 
  height: 0;
  border-left: 32px solid #EBFDFF;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
}

.arrow-end-content {
  background: #FFFFFF;
  position: relative;
  border-radius: 0px 32px 32px 0px;
}

.arrow-end-content::after {
  content: '';
  position: absolute;
  left: 0; 
  bottom: 0; 
  width: 0; 
  height: 0;
  border-left: 32px solid #b2bac8;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
}

.arrow-end-content-complete {
  background: #EBFDFF;
  position: relative;
  border-radius: 0px 32px 32px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-end-content-complete::after {
  content: '';
  position: absolute;
  left: 0; 
  bottom: 0; 
  width: 0; 
  height: 0;
  border-left: 32px solid #b2bac8;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
}

.myheader {
  display: flex !important;
  transition: transform 0.4s;
}

.header-hide {
  transform: translate3d(0, -100%, 0);
}

.header-show {
  transform: none;
}

/* for Opera,webkit chrome browsers */
input::-webkit-input-placeholder { 
  color: #A1A1A1 !important;
}
/*firefox 19+ versions*/
input::-moz-placeholder {
  color: #A1A1A1 !important;
}
/*IE  versions*/
input::-ms-placeholder {
  color: #A1A1A1 !important;
}
/*Latest modern browsers */

input::placeholder {
  color: #A1A1A1 !important;
}

.custom-animation {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.bm-menu-wrap {
  background-color: #EDFAFE;
  padding: 60px 40px;
}

.bm-item {
  color: #077997;
  font-family: 'MuseoSansRounded-700';
  font-size: 26px;
  margin-bottom: 40px;
}

.bm-item-list > a {
  text-decoration: none;
  outline: none;
}