@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MuseoSansRounded-500';
  src: url('/public/fonts/Museo/MuseoSansRounded-500.otf');
}

@font-face {
  font-family: 'MuseoSansRounded-300';
  font-weight: 300;
  src: url('/public/fonts/Museo/MuseoSansRounded-300.otf');
}

@font-face {
  font-family: 'MuseoSansRounded-700';
  font-weight: 700;
  src: url('/public/fonts/Museo/MuseoSansRounded-700.otf');
}

@font-face {
  font-family: 'MuseoSansRounded-900';
  font-weight: 900;
  src: url('/public/fonts/Museo/MuseoSansRounded-900.otf');
}
@font-face {
  font-family: MuseoSansRounded;
  src: url('./assets/fonts/MuseoSansRounded100.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: MuseoSansRounded;
  src: url('./assets/fonts/MuseoSansRounded300.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: MuseoSansRounded;
  src: url('./assets/fonts/MuseoSansRounded500.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: MuseoSansRounded;
  src: url('./assets/fonts/MuseoSansRounded700.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: MuseoSansRounded;
  src: url('./assets/fonts/MuseoSansRounded900.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: MuseoSansRounded;
  src: url('./assets/fonts/MuseoSansRounded1000.otf') format('opentype');
  font-weight: 1000;
}

html {
  scroll-behavior: smooth;
}
