:root { 
  --botticelli: #c9d9ef;
  --granite-gray: #666666;
  --lily-white: #e7f0fd;
  --metallic-seaweed: #077997;
  --mine-shaft: #333333;
  --sky-blue: #85d8e7;
  --twilight-blue: #ebfdff;
  --white: #ffffff;
  --zircon: #f3f8ff;
 
  --font-size-m: 15px;
  --font-size-s: 10px;
  --font-size-xl2: 18px;
  --font-size-xxxl: 26px;
 
  --font-family-museosansrounded-300: "MuseoSansRounded-300", Helvetica;
  --font-family-museosansrounded-500: "MuseoSansRounded-500", Helvetica;
  --font-family-museosansrounded-700: "MuseoSansRounded-700", Helvetica;
  --font-family-museosansrounded-900: "MuseoSansRounded-900", Helvetica;
  
  --anakiwa: #95e8f7;
  --black: #000000;
  --charlotte: #c0ebf6;
  --granite-gray: #666666;
  --metallic-seaweed: #077997;
  --mine-shaft: #333333;
  --twilight-blue: #ebfdff;
  --white: #ffffff;
 
  --font-size-l2: 16px;
  --font-size-m2: 15px;
  --font-size-xl2: 18px;
  --font-size-xs: 12px;
  --font-size-xxxl: 40px;
  --font-size-xxxxl: 60px;
 
  --font-family-museosansrounded-300: "MuseoSansRounded-300", Helvetica;
  --font-family-museosansrounded-500: "MuseoSansRounded-500", Helvetica;
  --font-family-museosansrounded-700: "MuseoSansRounded-700", Helvetica;
  --font-family-museosansrounded-900: "MuseoSansRounded-900", Helvetica;
  --font-family-myriadpro-regular: "MyriadPro-Regular", Helvetica;
}
